<div id="product-share-modal" class="js-modal-dialog-trigger mt-6 flex cursor-pointer items-center text-base font-bold text-grey-900">
  {%- render 'icon' with 'icon-share', class: 'w-6 h-6 mr-2 text-grey-500' -%}
  {{- 'product.general.share' | t -}}
</div>
