{%- comment -%}
  Render article card

  Accepts:
  - article: {Object}
{%- endcomment -%}

{%- liquid
  assign title = article.title
  assign tags = article.tags
  assign url = article.url
  assign excerpt_or_content = article.excerpt_or_content | strip_html | truncatewords: 24
  assign image = article.image
  assign cta_text = cta_text | default: 'Read more'
  assign class = class
  assign cta_class = cta_class | default: 'button-outlined mt-4 lg:mt-6 w-fit '
  assign image_wrapper_class = image_wrapper_class

  if excerpt_or_content == blank
    assign cta_class = cta_class | append: ' !mt-auto'
  endif
-%}

{%- capture before_content -%}
  <div class="flex-items-center mt-6 mb-4 min-h-[24px]">
    {%- for tag in shop.metafields.globals.tags_name -%}
      {%- assign tags_Name = shop.metafields.globals.tags_name[forloop.index0] -%}
      {%- assign text_color = shop.metafields.globals.text_color[forloop.index0] -%}
      {%- assign bg_color = shop.metafields.globals.background_color[forloop.index0] -%}
      {%- for tag in article.tags -%}
        {%- if tags_Name == tag -%}
          <span class="badge mr-2 last:mr-0" style="background-color: {{- bg_color -}}; color: {{- text_color -}}">{{ tags_Name }}</span>
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
  </div>
{%- endcapture -%}

{%- render 'card',
  image: image,
  mobile_width: 263,
  md_width: 347,
  title: title,
  class: class,
  image_wrapper_class: image_wrapper_class,
  title_class: 'h4 mb-2',
  description: excerpt_or_content,
  description_class: 'mb-auto text-sm',
  content_class: 'flex-auto flex flex-col',
  before_content: before_content,
  url: url,
  cta_text: cta_text,
  cta_class: cta_class
-%}
