<section class="py-2 mb-12">
  <div class="container">
    <h5 class="mb-2">Brand</h5>
    <table class="min-w-full border">
      <thead>
        <tr>
          <th class="p-4 text-left border w-80">Token</th>
          <th class="p-4 text-left border">Role</th>
          <th class="p-4 text-left border w-80">Value</th>
          <th class="p-4 text-left border w-80">Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">primary</span>
          </td>
          <td class="p-4 border">Primary brand colour</td>
          <td class="p-4 border">
            <p>rgb(0, 0, 0)</p>
            <p>#000000</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full bg-primary"></span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">primary-hover</span>
          </td>
          <td class="p-4 border">Primary color when hover</td>
          <td class="p-4 border">
            <p>rgb(51, 51, 51)</p>
            <p>#333333</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full bg-primary-hover"></span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">primary-content</span>
          </td>
          <td class="p-4 border">Foreground content color to use on primary color</td>
          <td class="p-4 border">
            <p>rgb(255, 255, 255)</p>
            <p>#FFFFFF</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full text-primary-content bg-primary">Aa</span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">secondary</span>
          </td>
          <td class="p-4 border">Secondary brand colour</td>
          <td class="p-4 border">
            <p>rgb(72, 0, 42)</p>
            <p>#04B4A1</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full bg-secondary"></span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">secondary-hover</span>
          </td>
          <td class="p-4 border">Secondary color when hover</td>
          <td class="p-4 border">
            <p>rgb(0, 171, 155)</p>
            <p>#008C7D</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full bg-secondary-hover"></span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">secondary-content</span>
          </td>
          <td class="p-4 border">Foreground content color to use on secondary color</td>
          <td class="p-4 border">
            <p>rgb(255, 255, 255)</p>
            <p>#FFFFFF</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full text-secondary-content bg-secondary">Aa</span>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="py-2 mb-12">
    <div class="container">
    <h5 class="mb-2">Functional</h5>
    <table class="min-w-full border">
      <thead>
        <tr>
          <th class="p-4 text-left border w-80">Token</th>
          <th class="p-4 text-left border">Role</th>
          <th class="p-4 text-left border w-80">Value</th>
          <th class="p-4 text-left border w-80">Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">info-bg</span>
          </td>
          <td class="p-4 border">Info background colour</td>
          <td class="p-4 border">
            <p>#E7E7E7</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full bg-info-bg"></span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">info-content</span>
          </td>
          <td class="p-4 border">Foreground content color to use on info color</td>
          <td class="p-4 border">
            <p>#232323</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full bg-info-bg text-info-content">Aa</span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">success-bg</span>
          </td>
          <td class="p-4 border">Success background</td>
          <td class="p-4 border">
            <p>#F2FDF5</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full bg-success-bg"></span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">success-content</span>
          </td>
          <td class="p-4 border">Foreground content color to use on success color</td>
          <td class="p-4 border">
            <p>#3B8584</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full text-success-content-content bg-success-bg text-success-content">Aa</span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">warning-bg</span>
          </td>
          <td class="p-4 border">Warning background</td>
          <td class="p-4 border">
            <p>#FEFCEA</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full bg-warning-bg"></span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">warning-content</span>
          </td>
          <td class="p-4 border">Foreground content color to use on warning color</td>
          <td class="p-4 border">
            <p>#C18B00</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full text-warning-content-content bg-warning-bg text-warning-content">Aa</span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">error-bg</span>
          </td>
          <td class="p-4 border">Error Background</td>
          <td class="p-4 border">
            <p>#FCF2F2</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full bg-error-bg"></span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">error-content</span>
          </td>
          <td class="p-4 border">Foreground content color to use on error color</td>
          <td class="p-4 border">
            <p>#C9211B</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full text-error-content-content bg-error-bg text-error-content">Aa</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

  <section class="py-2 mb-12">
    <div class="container">
    <h5 class="mb-2">Accent</h5>
    <table class="min-w-full border">
      <thead>
        <tr>
          <th class="p-4 text-left border w-80">Token</th>
          <th class="p-4 text-left border">Role</th>
          <th class="p-4 text-left border w-80">Value</th>
          <th class="p-4 text-left border w-80">Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">accent-1</span>
          </td>
          <td class="p-4 border">Accent colour 1</td>
          <td class="p-4 border">
            <p>#078F67</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full bg-accent-1"></span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">accent-1-hover</span>
          </td>
          <td class="p-4 border">Accent colour 1 hover</td>
          <td class="p-4 border">
            <p>#3AB893</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full bg-accent-1-hover"></span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">accent-2</span>
          </td>
          <td class="p-4 border">Accent colour 2</td>
          <td class="p-4 border">
            <p>#F9C201</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 text-white rounded-full bg-accent-2"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="py-2 mb-12">
  <div class="container">
    <h5 class="mb-2">Background</h5>
    <table class="min-w-full border">
      <thead>
        <tr>
          <th class="p-4 text-left border w-80">Token</th>
          <th class="p-4 text-left border">Role</th>
          <th class="p-4 text-left border w-80">Value</th>
          <th class="p-4 text-left border w-80">Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">white</span>
          </td>
          <td class="p-4 border">Background color used for the main page body</td>
          <td class="p-4 border">
            <p>rgb(255, 255, 255)</p>
            <p>#FFFFFF</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 bg-white border rounded-full"></span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">white-overlay</span>
          </td>
          <td class="p-4 border">Background color used for overlays</td>
          <td class="p-4 border">rgba(255, 255, 255, 0.3)</td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full bg-white-overlay"></span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">grey-100</span>
          </td>
          <td class="p-4 border">Weakest background color used for decorative purposes</td>
          <td class="p-4 border">
            <p>#E7E7E7</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full bg-grey-100"></span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">dark-overlay</span>
          </td>
          <td class="p-4 border">Background color used for overlays</td>
          <td class="p-4 border">rgba(0, 0, 0, 0.2)</td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 rounded-full bg-dark-overlay"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="py-2 mb-12">
  <div class="container">
    <h5 class="mb-2">Borders</h5>
    <table class="min-w-full border">
      <thead>
        <tr>
          <th class="p-4 text-left border w-80">Token</th>
          <th class="p-4 text-left border">Role</th>
          <th class="p-4 text-left border w-80">Value</th>
          <th class="p-4 text-left border w-80">Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">border</span>
          </td>
          <td class="p-4 border">Default border color</td>
          <td class="p-4 border">
            <p>#E7E7E7</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 bg-white border-2 rounded-full border-default"></span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">border-focus</span>
          </td>
          <td class="p-4 border">Border color when focused</td>
          <td class="p-4 border">
            <p>#7A7D81</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 bg-white border-2 rounded-full border-focus"></span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">border-error</span>
          </td>
          <td class="p-4 border">Error border color</td>
          <td class="p-4 border">
            <p>#C9211B</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 bg-white border-2 rounded-full border-error"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="py-2 mb-12">
  <div class="container">
    <h5 class="mb-2">Typography</h5>
    <table class="min-w-full border">
      <thead>
        <tr>
          <th class="p-4 text-left border w-80">Token</th>
          <th class="p-4 text-left border">Role</th>
          <th class="p-4 text-left border w-80">Value</th>
          <th class="p-4 text-left border w-80">Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">grey-900</span>
          </td>
          <td class="p-4 border">Used for headlines</td>
          <td class="p-4 border">
            <p>#232323</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 text-2xl font-bold bg-white text-grey-900">Aa</span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">grey-700</span>
          </td>
          <td class="p-4 border">Used for body text</td>
          <td class="p-4 border">
            <p>#404346</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 text-2xl font-bold bg-white text-grey-700">Aa</span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">grey-500</span>
          </td>
          <td class="p-4 border">Weaker body text for visual hierarchy</td>
          <td class="p-4 border">
            <p>#7A7D81</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 text-2xl font-bold bg-white text-grey-500">Aa</span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">grey-400</span>
          </td>
          <td class="p-4 border">Weaker body text for visual hierarchy</td>
          <td class="p-4 border">
            <p>#A4A8AF</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-8 h-8 text-2xl font-bold bg-white text-grey-400">Aa</span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">grey-100</span>
          </td>
          <td class="p-4 border">Used for body text on inverse backgrounds</td>
          <td class="p-4 border">
            <p>#E7E7E7</p>
          </td>
          <td class="p-4 border">
            <span class="flex items-center justify-center w-12 h-12 p-2 text-2xl font-bold text-grey-100 bg-grey-900">Aa</span>
          </td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">link</span>
          </td>
          <td class="p-4 border">Used for text links</td>
          <td class="p-4 border">
            <p>#404346</p>
          </td>
          <td class="p-4 border link">Aa</td>
        </tr>
        <tr>
          <td class="p-4 border">
            <span class="p-2 rounded-md bg-grey-100">link-hover</span>
          </td>
          <td class="p-4 border">Used for text links when hover</td>
          <td class="p-4 border">
            <p>#5046E5</p>
          </td>
          <td class="p-4 border link text-link-hover">Aa</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
