<section class="mb-12 py-2">
  <div class="container">
    <table class="min-w-full border">
      <thead>
        <tr>
          <th class="border p-4 text-left">Role</th>
          <th class="border p-4 text-left">Token</th>
          <th class="border p-4 text-left">Enable</th>
          <th class="border p-4 text-left">Disabled</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border p-4">Primary button</td>
          <td class="border p-4">
            <span class="rounded-md bg-grey-100 p-2">button-primary</span>
          </td>
          <td class="border p-4">
            <button class="button-primary">Button</button>
          </td>
          <td class="border p-4">
            <button class="button-primary" disabled>Button</button>
          </td>
        </tr>
        <tr>
          <td class="border p-4">Secondary button</td>
          <td class="border p-4">
            <span class="rounded-md bg-grey-100 p-2">button-secondary</span>
          </td>
          <td class="border p-4">
            <button class="button-secondary">Button</button>
          </td>
          <td class="border p-4">
            <button class="button-secondary" disabled>Button</button>
          </td>
        </tr>
        <tr>
          <td class="border p-4">Outlined button</td>
          <td class="border p-4">
            <span class="rounded-md bg-grey-100 p-2">button-outlined</span>
          </td>
          <td class="border p-4">
            <button class="button-outlined">Button</button>
          </td>
          <td class="border p-4">
            <button class="button-outlined" disabled>Button</button>
          </td>
        </tr>
        <tr>
          <td class="border p-4">Large button</td>
          <td class="border p-4">
            <span class="rounded-md bg-grey-100 p-2">button-large</span>
          </td>
          <td class="border p-4">
            <button class="button-primary button-large">Button</button>
          </td>
          <td class="border p-4">
            <button class="button-primary button-large" disabled>Button</button>
          </td>
        </tr>
        <tr>
          <td class="border p-4">Button White</td>
          <td class="border p-4">
            <span class="rounded-md bg-grey-100 p-2">button-white</span>
          </td>
          <td class="border bg-secondary p-4">
            <button class="button-white">Button</button>
          </td>
          <td class="border p-4">
            <button class="button-outlined" disabled>Button</button>
          </td>
        </tr>

        <tr>
          <td class="border p-4">Outlined white button</td>
          <td class="border p-4">
            <span class="rounded-md bg-grey-100 p-2">button-outlined-white</span>
          </td>
          <td class="border bg-secondary p-4">
            <button class="button-outlined-white">Button</button>
          </td>
          <td class="border p-4">
            <button class="button-outlined" disabled>Button</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
