.yotpo-reviews-carousel {
  @apply !max-w-none overflow-hidden bg-black py-6 lg:py-12;

  & .yotpo-display-wrapper {
    @apply items-center p-0 lg:flex;

    & #carousel-top-panel {
      @apply m-0 flex flex-col border-0 p-0 lg:w-[360px] lg:pl-8 xl:pl-12;

      & .headline {
        @apply m-0 font-sans text-3xl font-bold text-white lg:text-4xl lg-max:text-center;
      }

      & .carousel-reviews-bottom-line {
        @apply flex flex-col;
      }

      & .yotpo-review-stars {
        @apply my-4 flex items-center justify-center lg:justify-start;
      }

      & .carousel-stars {
        @apply static m-0 flex items-center justify-center tracking-normal;
      }

      & .yotpo-icon-star {
        @apply !text-2xl !leading-none text-white;
      }

      & .yotpo-icon-empty-star {
        @apply !text-2xl !leading-none text-[#5E5E5E];

        &:before {
          content: '\e60e';
        }
      }

      & .yotpo-num-of-reviews {
        @apply m-0 inline-block font-sans text-sm text-white lg-max:text-center;
      }

      & .carousel-arrows {
        @apply order-1 m-0 mt-4 !flex w-fit items-center justify-center rounded border border-solid border-default lg:mt-12 lg-max:mx-auto lg-max:mb-6;

        & .yotpo-page-element {
          @apply block !h-9 !w-9 bg-[length:20px_20px] bg-center bg-no-repeat;

          &:before {
            @apply content-none;
          }
        }

        & .sr-only {
          @apply hidden;
        }

        & .yotpo_previous {
          background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20viewBox%3D%220%200%2020%2020%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.4%22%20d%3D%22M12.813%204.375%207.186%2010l5.625%205.625%22%2F%3E%0A%3C%2Fsvg%3E');
        }

        & .yotpo_next {
          background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20viewBox%3D%220%200%2020%2020%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.4%22%20d%3D%22M7.188%204.375%2012.813%2010l-5.626%205.625%22%2F%3E%0A%3C%2Fsvg%3E');
        }
      }
    }

    & .scroller {
      @apply flex-1 rounded-l-lg border border-r-0 border-solid border-default bg-[#151515] lg-max:translate-x-4;

      & .y-slide-left-animations {
        @apply p-0;

        &[role='list'] {
          @apply flex;
        }
      }

      & .single-carousel {
        @apply !mr-0 flex w-[calc(100vw_-_1px)] items-center justify-center border-r border-default p-10 pl-6 sm:w-[calc(50vw_-_1px)] sm:px-6 lg:w-[calc((100vw_-_361px)_/_3)] lg:p-12;

        border-right-style: solid;

        & .product-link-container {
          @apply hidden;
        }

        & .right-side {
          @apply float-none w-full;
        }

        & .stars-container {
          @apply flex h-fit flex-col;
        }

        & .carousel-stars {
          @apply static m-0 flex items-center justify-center tracking-normal;
        }

        & .yotpo-icon-star {
          @apply !text-2xl !leading-none text-white;
        }

        & .yotpo-icon-empty-star {
          @apply !text-2xl !leading-none text-[#5E5E5E];

          &:before {
            content: '\e60e';
          }
        }

        & .carousel-review-date {
          @apply mt-1.5 mb-6 p-0 text-center font-sans text-sm !not-italic text-white;
        }

        & .carousel-review-title {
          @apply mt-0 text-center font-sans text-xl text-white;
        }

        & .carousel-review-body {
          @apply m-0 mt-2 text-center font-sans text-sm !not-italic text-white;
        }

        & .carousel-review-author {
          @apply hidden;
        }
      }
    }

    & .yotpo-label {
      @apply hidden;
    }
  }
}
